@using System.Runtime.InteropServices
@using Mrgun.MvcWebUI.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}

<div class="container pb-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/Upload/@Model.Image" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-md-12">
                    <h1>@Model.Name</h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    @if (Model.İsApproved)
                    {
                        <span class="badge bg-success">Stokta Mevcut</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Stokta Yok</span>
                    }

                    <span class="product-number">#100</span>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-3">
                    <div id="description">
                        @Model.Description
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="badge bg-success">53</span>
                            </div>
                            <div id="write-review" class="col-md-4">
                                <a href="#">
                                    Yorum yap.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4 id="product-price">@Model.Price $ </h4>

            </div>
            <div class="row">
                <div class="col-md-12">
                    
                   @using (Html.BeginForm("AddToCart","Cart"))
                   {
                       @Html.HiddenFor(i=>i.Id)
                       <button type="submit" class="btn btn-success">
                       <i class="fas fa-cart-plus"></i>Sepete Ekle.
                        </button>
                   }

                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        //Burası sonra bakılacak.
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Ürün Açıklaması</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Ürün Yorumları</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>

</div>
